############################
# Unity generated folders
############################
Pong/[Ll]ibrary/
Pong/[Tt]emp/
Pong/[Oo]bj/
Pong/[Bb]uild/
Pong/[Bb]uilds/
Pong/[Ll]ogs/
Pong/[Uu]ser[Ss]ettings/

############################
# Unity caches
############################
Pong/**/[Mm]emoryCaptures/
Pong/**/[Rr]ecordings/

############################
# IDE / OS junk
############################
.vs/
.gradle/
.consulo/
.DS_Store
Thumbs.db
.utmp/

############################
# IDE project files
############################
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.DotSettings.user

############################
# Unity crash & logs
############################
*.log
sysinfo.txt
mono_crash.*

############################
# Builds
############################
*.apk
*.aab
*.unitypackage
*.app

############################
# Addressables (generated)
############################
Pong/ServerData
Pong/Assets/StreamingAssets/aa*
Pong/Assets/AddressableAssetsData/*
Pong/Assets/Addressables_Temp*

############################
# Visual Scripting (generated)
############################
Pong/Assets/Unity.VisualScripting.Generated/

############################
# Test Runner
############################
Pong/Assets/InitTestScene*.unity*

############################
# Blender temp files
############################
*.blend1
